Repository nbuckles13/dark_tower: changes, and which Codecov flags are due for each by the changed paths.
All: Cryptography, Authentication Controller, Middleware, Data Models

Implement AC Phase 4: Documentation & Testing
  crates/ac-service/src/config.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/observability/mod.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-service/tests/chaos/README.md
  crates/ac-service/tests/chaos/db_failure_tests.rs
  crates/ac-service/tests/chaos/key_rotation_stress_tests.rs
  crates/ac-service/tests/chaos/mod.rs
  crates/ac-service/tests/chaos/slow_query_notes.md
  crates/ac-service/tests/chaos_tests.rs
  crates/ac-service/tests/integration/admin_auth_tests.rs
  crates/ac-service/tests/integration/key_rotation_tests.rs
  crates/ac-service/tests/integration_tests.rs
  crates/ac-test-utils/src/server_harness.rs
  docs/runbooks/ac-service-deployment.md
  docs/runbooks/ac-service-incident-response.md
  scripts/README.md
  scripts/dev/README.md
  scripts/dev/reset-database.sh
  scripts/dev/seed-test-data.sh
  scripts/dev/start-local-stack.sh
Due: Authentication Controller

Add coverage artifacts to .gitignore
  .gitignore
Due: none

Update documentation for local dev environment and ADRs 0011-0013
  docs/DEVELOPMENT.md
  docs/PROJECT_STATUS.md
Due: none

Add local development environment with kind, observability stack, and iterate.sh
  .claude/agents/infrastructure.md
  .claude/agents/observability.md
  .claude/workflows/code-review.md
  .claude/workflows/process-review-record.md
  .github/workflows/ci.yml
  crates/ac-service/src/main.rs
  crates/ac-service/src/middleware/http_metrics.rs
  crates/ac-service/src/middleware/mod.rs
  crates/ac-service/src/observability/metrics.rs
  crates/ac-service/src/observability/mod.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/tests/README.md
  crates/ac-service/tests/chaos_tests.rs
  crates/ac-service/tests/fault_injection/README.md
  crates/ac-service/tests/fault_injection/db_failure_tests.rs
  crates/ac-service/tests/fault_injection/key_rotation_stress_tests.rs
  crates/ac-service/tests/fault_injection/mod.rs
  crates/ac-service/tests/fault_injection/slow_query_notes.md
  crates/ac-service/tests/fault_injection_tests.rs
  docs/LOCAL_DEVELOPMENT.md
  docs/LOCAL_TESTING_SETUP.md
  docs/debates/2025-12-11-local-development-environment.md
  docs/decisions/adr-0013-local-development-environment.md
  docs/observability/metrics/ac-service.md
  docs/process-reviews/prr-0001-ac-dashboard-metrics.md
  infra/docker/ac-service/Dockerfile
  infra/grafana/dashboards/ac-service.json
  infra/grafana/provisioning/dashboards/dashboards.yaml
  infra/grafana/provisioning/datasources/datasources.yaml
  infra/kind/kind-config.yaml
  infra/kind/scripts/setup.sh
  infra/kind/scripts/teardown.sh
  infra/services/ac-service/network-policy.yaml
  infra/services/ac-service/service.yaml
  infra/services/ac-service/statefulset.yaml
  infra/skaffold.yaml
  scripts/dev/README.md
  scripts/dev/iterate.sh
  scripts/lint-grafana-dashboards.sh
Due: Middleware

Implement env-tests crate and fix workspace clippy lints
  .claude/TODO.md
  .githooks/pre-commit
  Cargo.toml
  clippy.toml
  crates/ac-service/Cargo.toml
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/handlers/jwks_handler.rs
  crates/ac-service/src/observability/mod.rs
  crates/ac-service/src/repositories/service_credentials.rs
  crates/ac-service/src/services/key_management_service.rs
  crates/ac-test-utils/Cargo.toml
  crates/common/Cargo.toml
  crates/env-tests/Cargo.toml
  crates/env-tests/README.md
  crates/env-tests/src/canary.rs
  crates/env-tests/src/cluster.rs
  crates/env-tests/src/eventual.rs
  crates/env-tests/src/fixtures/auth_client.rs
  crates/env-tests/src/fixtures/metrics.rs
  crates/env-tests/src/fixtures/mod.rs
  crates/env-tests/src/lib.rs
  crates/env-tests/tests/00_cluster_health.rs
  crates/env-tests/tests/10_auth_smoke.rs
  crates/env-tests/tests/20_auth_flows.rs
  crates/env-tests/tests/25_auth_security.rs
  crates/env-tests/tests/30_observability.rs
  crates/env-tests/tests/40_resilience.rs
  crates/env-tests/tests/90_runbook.rs
  crates/global-controller/Cargo.toml
  crates/media-handler/Cargo.toml
  crates/media-protocol/Cargo.toml
  crates/meeting-controller/Cargo.toml
  crates/proto-gen/Cargo.toml
  docs/debates/2025-12-16-environment-integration-tests.md
  docs/decisions/adr-0014-environment-integration-tests.md
Due: Cryptography, Authentication Controller

Add guard pipeline for credential leak detection (Phase 1)
  docs/DEVELOPMENT.md
  docs/principles/logging-safety.md
  scripts/guards/common.sh
  scripts/guards/run-guards.sh
  scripts/guards/semantic/credential-leak.sh
  scripts/guards/simple/no-secrets-in-logs.sh
  scripts/guards/strip-test-code.sh
Due: none

Add SecretString constraint type and enhance guard pipeline
  Cargo.toml
  crates/ac-service/src/handlers/auth_handler.rs
  crates/common/Cargo.toml
  crates/common/src/lib.rs
  crates/common/src/secret.rs
  docs/principles/logging-safety.md
  docs/reviews/trust-but-verify-audit/01-security-cross-review.md
  docs/reviews/trust-but-verify-audit/01-security-self-audit.md
  scripts/guards/simple/no-secrets-in-logs.sh
Due: Authentication Controller

Add no-hardcoded-secrets guard for detecting secrets in source code
  docs/principles/no-hardcoded-secrets.md
  scripts/guards/simple/no-hardcoded-secrets.sh
Due: none

Add contextual injection workflow and fix code review issues
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/workflows/code-review.md
  .claude/workflows/contextual-injection.md
  .claude/workflows/orchestrator-guide.md
  crates/ac-service/src/errors.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/observability/metrics.rs
  crates/ac-service/src/observability/mod.rs
  crates/ac-service/src/repositories/service_credentials.rs
  crates/ac-service/src/routes/mod.rs
  docs/principles/crypto.md
  docs/principles/errors.md
  docs/principles/input.md
  docs/principles/jwt.md
  docs/principles/logging-safety.md
  docs/principles/logging.md
  docs/principles/no-hardcoded-secrets.md
  docs/principles/queries.md
Due: Authentication Controller

Compress principle files for specialist prompt injection
  docs/principles/crypto.md
  docs/principles/errors.md
  docs/principles/input.md
  docs/principles/jwt.md
  docs/principles/logging.md
  docs/principles/queries.md
Due: none

Add 4 new principle files from ADR extraction
  docs/principles/api-design.md
  docs/principles/concurrency.md
  docs/principles/observability.md
  docs/principles/testing.md
Due: none

Update task-to-category mapping with 4 new principle categories
  .claude/workflows/contextual-injection.md
Due: none

Add ADR-0015: Principles and Guards Methodology
  docs/decisions/adr-0015-principles-guards-methodology.md
Due: none

Add test protection guards and update ADR-0015
  .claude/TODO.md
  docs/decisions/adr-0015-principles-guards-methodology.md
  scripts/guards/simple/no-test-removal.sh
  scripts/guards/simple/test-coverage.sh
Due: none

Add PII and API version guards, simplify ADR-0015
  docs/decisions/adr-0015-principles-guards-methodology.md
  docs/principles/api-design.md
  docs/principles/observability.md
  scripts/guards/common.sh
  scripts/guards/simple/api-version-check.sh
  scripts/guards/simple/no-pii-in-logs.sh
Due: none

Add development loop workflow with guard integration
  .claude/workflows/contextual-injection.md
  .claude/workflows/development-loop.md
  docs/decisions/adr-0016-development-loop.md
  scripts/verify-completion.sh
Due: none

Add configurable JWT clock skew tolerance
  crates/ac-service/src/config.rs
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/main.rs
  crates/ac-service/src/middleware/auth.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-service/tests/integration/clock_skew_tests.rs
  crates/ac-service/tests/integration/key_rotation_tests.rs
  crates/ac-service/tests/integration/mod.rs
  crates/ac-test-utils/src/server_harness.rs
Due: Cryptography, Authentication Controller, Middleware

Add cargo fmt and semantic guards to dev loop verification
  .claude/workflows/development-loop.md
  docs/decisions/adr-0016-development-loop.md
  scripts/verify-completion.sh
Due: none

Integrate code review into development loop
  .claude/workflows/development-loop.md
  docs/decisions/adr-0016-development-loop.md
Due: none

Add specialist self-improvement via dynamic knowledge
  .claude/agents/auth-controller.md
  .claude/agents/code-reviewer.md
  .claude/agents/database.md
  .claude/agents/global-controller.md
  .claude/agents/infrastructure.md
  .claude/agents/media-handler.md
  .claude/agents/meeting-controller.md
  .claude/agents/observability.md
  .claude/agents/operations.md
  .claude/agents/protocol.md
  .claude/agents/security.md
  .claude/agents/test.md
  .claude/workflows/code-review.md
  .claude/workflows/development-loop.md
  .claude/workflows/multi-agent-debate.md
  docs/decisions/adr-0017-specialist-knowledge.md
Due: none

Add configurable bcrypt cost and tracing safety for crypto functions
  .claude/agents/auth-controller/gotchas.md
  .claude/agents/auth-controller/integration.md
  .claude/agents/auth-controller/patterns.md
  .claude/agents/code-reviewer/gotchas.md
  .claude/agents/code-reviewer/integration.md
  .claude/agents/code-reviewer/patterns.md
  .claude/agents/security/gotchas.md
  .claude/agents/security/integration.md
  .claude/agents/security/patterns.md
  .claude/agents/test/gotchas.md
  .claude/agents/test/integration.md
  .claude/agents/test/patterns.md
  crates/ac-service/src/config.rs
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/registration_service.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-service/tests/integration/key_rotation_tests.rs
  crates/ac-test-utils/src/server_harness.rs
Due: Cryptography, Authentication Controller

Update dev-loop: specialist-owned verification, resume for reflection
  .claude/workflows/development-loop.md
  docs/dev-loop-outputs/_template.md
  scripts/guards/semantic/credential-leak.sh
Due: none

Wrap sensitive types with SecretBox/SecretString in ac-service
  .claude/agents/code-reviewer/gotchas.md
  .claude/agents/code-reviewer/patterns.md
  .claude/agents/security/gotchas.md
  .claude/agents/security/integration.md
  .claude/agents/security/patterns.md
  .claude/agents/test/gotchas.md
  .claude/agents/test/integration.md
  .claude/agents/test/patterns.md
  crates/ac-service/src/config.rs
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/main.rs
  crates/ac-service/src/models/mod.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/key_management_service.rs
  crates/ac-service/src/services/registration_service.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-service/tests/integration/clock_skew_tests.rs
  crates/ac-service/tests/integration/health_tests.rs
  crates/ac-service/tests/integration/key_rotation_tests.rs
  crates/ac-service/tests/integration_tests.rs
  crates/ac-test-utils/Cargo.toml
  crates/ac-test-utils/src/server_harness.rs
  docs/dev-loop-outputs/2026-01-12-secretbox-refactor.md
Due: Cryptography, Authentication Controller, Data Models

Improve dev-loop workflow with implementation mode and state checkpointing
  .claude/workflows/development-loop.md
  docs/dev-loop-outputs/_template.md
Due: none

Update project documentation for January 2026 changes
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/TODO.md
  CLAUDE.md
  README.md
  docs/PROJECT_STATUS.md
Due: none

Add AI_DEVELOPMENT.md documenting AI-centric development methodology
  AI_DEVELOPMENT.md
Due: none

Add link to AI_DEVELOPMENT.md in README overview
  README.md
Due: none

Increase CI job timeouts to fix cancelled builds
  .github/workflows/ci.yml
Due: none

Path conditions:
  Cryptography: any of: **/crypto/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Authentication Controller: any of: crates/ac-service/src/handlers/**, crates/ac-service/src/services/**, crates/ac-service/src/repositories/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Middleware: any of: **/middleware/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Data Models: any of: **/models/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
