Repository nbuckles13/dark_tower: changes, and which Codecov flags are due for each by the changed paths.
All: Cryptography, Authentication Controller, Middleware, Data Models

Add GC meeting integration tests and fix dev-loop process issues
  .claude/agents/dry-reviewer.md
  .claude/workflows/code-review.md
  crates/global-controller/Cargo.toml
  crates/global-controller/tests/meeting_tests.rs
  docs/dev-loop-outputs/2026-01-16-gc-integration-tests/code-reviewer.md
  docs/dev-loop-outputs/2026-01-16-gc-integration-tests/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-16-gc-integration-tests/global-controller.md
  docs/dev-loop-outputs/2026-01-16-gc-integration-tests/main.md
  docs/dev-loop-outputs/2026-01-16-gc-integration-tests/security.md
  docs/dev-loop-outputs/2026-01-16-gc-integration-tests/test.md
Due: none

Add step-runner architecture and ADR-0021
  .claude/workflows/development-loop.md
  .claude/workflows/development-loop/output-documentation.md
  docs/decisions/adr-0021-step-runner-architecture.md
Due: none

Add cross-service e2e tests for AC + GC flows
  crates/env-tests/Cargo.toml
  crates/env-tests/src/cluster.rs
  crates/env-tests/src/fixtures/gc_client.rs
  crates/env-tests/src/fixtures/mod.rs
  crates/env-tests/src/lib.rs
  crates/env-tests/tests/21_cross_service_flows.rs
  docs/dev-loop-outputs/2026-01-17-cross-service-env-tests/code-reviewer.md
  docs/dev-loop-outputs/2026-01-17-cross-service-env-tests/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-17-cross-service-env-tests/main.md
  docs/dev-loop-outputs/2026-01-17-cross-service-env-tests/security.md
  docs/dev-loop-outputs/2026-01-17-cross-service-env-tests/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Improve step-runner specialist invocation process
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/workflows/development-loop.md
  .claude/workflows/development-loop/specialist-invocation.md
  docs/dev-loop-outputs/_template/specialist.md
Due: none

Add AC internal token and middleware auth integration tests
  .claude/workflows/development-loop/specialist-invocation.md
  crates/ac-service/tests/integration/internal_token_tests.rs
  crates/ac-service/tests/integration_tests.rs
  docs/dev-loop-outputs/2026-01-18-ac-coverage/auth-controller.md
  docs/dev-loop-outputs/2026-01-18-ac-coverage/code-reviewer.md
  docs/dev-loop-outputs/2026-01-18-ac-coverage/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-18-ac-coverage/main.md
  docs/dev-loop-outputs/2026-01-18-ac-coverage/security.md
  docs/dev-loop-outputs/2026-01-18-ac-coverage/test.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/patterns.md
Due: none

Set up GC coverage dev-loop output file
  docs/dev-loop-outputs/2026-01-18-gc-coverage/main.md
Due: none

Add GC test coverage and fix AC timing test reliability
  crates/ac-service/src/services/token_service.rs
  crates/gc-test-utils/src/server_harness.rs
  crates/global-controller/src/auth/jwks.rs
  crates/global-controller/src/auth/jwt.rs
  crates/global-controller/src/services/ac_client.rs
  docs/dev-loop-outputs/2026-01-18-gc-coverage/code-reviewer.md
  docs/dev-loop-outputs/2026-01-18-gc-coverage/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-18-gc-coverage/global-controller.md
  docs/dev-loop-outputs/2026-01-18-gc-coverage/main.md
  docs/dev-loop-outputs/2026-01-18-gc-coverage/security.md
  docs/dev-loop-outputs/2026-01-18-gc-coverage/test.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/patterns.md
Due: Authentication Controller

Implement ADR-0018: Dev-loop checkpointing and restore
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/workflows/development-loop.md
  docs/decisions/adr-0018-dev-loop-checkpointing.md
  docs/dev-loop-outputs/_template/main.md
  docs/dev-loop-outputs/_template/specialist.md
Due: none

Update specialist knowledge files from user provisioning dev-loop
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/integration.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Move specialist knowledge files to docs/specialist-knowledge/
  .claude/TODO.md
  .claude/agents/auth-controller.md
  .claude/agents/code-reviewer.md
  .claude/agents/database.md
  .claude/agents/global-controller.md
  .claude/agents/infrastructure.md
  .claude/agents/media-handler.md
  .claude/agents/meeting-controller.md
  .claude/agents/observability.md
  .claude/agents/operations.md
  .claude/agents/protocol.md
  .claude/agents/security.md
  .claude/agents/test.md
  .claude/workflows/code-review.md
  .claude/workflows/development-loop.md
  .claude/workflows/multi-agent-debate.md
  AI_DEVELOPMENT.md
  CLAUDE.md
  docs/PROJECT_STATUS.md
  docs/decisions/adr-0017-specialist-knowledge.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/integration.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/infrastructure/gotchas.md
  docs/specialist-knowledge/infrastructure/integration.md
  docs/specialist-knowledge/infrastructure/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Clarify verification requirement after code review fixes
  .claude/workflows/development-loop.md
Due: none

Remove redundant Next Steps section from dev-loop output template
  docs/dev-loop-outputs/2026-01-14-gc-phase2-auth-middleware.md
  docs/dev-loop-outputs/_template.md
Due: none

Implement user provisioning and login in AC per ADR-0020
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/middleware/mod.rs
  crates/ac-service/src/middleware/org_extraction.rs
  crates/ac-service/src/repositories/auth_events.rs
  crates/ac-service/src/repositories/mod.rs
  crates/ac-service/src/repositories/organizations.rs
  crates/ac-service/src/repositories/users.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/mod.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-service/src/services/user_service.rs
  migrations/20260116000001_add_user_roles.sql
Due: Cryptography, Authentication Controller, Middleware

Add dev-loop output for user provisioning implementation
  docs/dev-loop-outputs/2026-01-15-user-provisioning/auth-controller.md
  docs/dev-loop-outputs/2026-01-15-user-provisioning/main.md
Due: none

Add knowledge curation criteria and audit specialist files
  .claude/workflows/development-loop/step-reflection.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/integration.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/infrastructure/gotchas.md
  docs/specialist-knowledge/infrastructure/integration.md
  docs/specialist-knowledge/infrastructure/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Implement GC Phase 2 auth middleware and add DRY Reviewer specialist
  .claude/agents/dry-reviewer.md
  .claude/workflows/code-review.md
  .claude/workflows/development-loop.md
  AI_DEVELOPMENT.md
  CLAUDE.md
  crates/global-controller/Cargo.toml
  crates/global-controller/src/auth/claims.rs
  crates/global-controller/src/auth/jwks.rs
  crates/global-controller/src/auth/jwt.rs
  crates/global-controller/src/auth/mod.rs
  crates/global-controller/src/handlers/me.rs
  crates/global-controller/src/handlers/mod.rs
  crates/global-controller/src/lib.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/middleware/auth.rs
  crates/global-controller/src/middleware/mod.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/tests/auth_tests.rs
  docs/decisions/adr-0019-dry-reviewer.md
  docs/dev-loop-outputs/2026-01-14-gc-phase2-auth-middleware.md
  docs/dev-loop-outputs/_template.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: Middleware

Implement user auth foundation and restructure dev-loop workflow
  .claude/workflows/development-loop.md
  .claude/workflows/development-loop/output-documentation.md
  .claude/workflows/development-loop/session-restore.md
  .claude/workflows/development-loop/step-implementation.md
  .claude/workflows/development-loop/step-reflection.md
  .claude/workflows/development-loop/step-validation.md
  crates/ac-service/src/handlers/internal_tokens.rs
  crates/ac-service/src/handlers/mod.rs
  crates/ac-service/src/middleware/auth.rs
  crates/ac-service/src/models/mod.rs
  crates/ac-service/src/routes/mod.rs
  crates/global-controller/Cargo.toml
  crates/global-controller/src/config.rs
  crates/global-controller/src/handlers/meetings.rs
  crates/global-controller/src/handlers/mod.rs
  crates/global-controller/src/lib.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/models/mod.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/src/services/ac_client.rs
  crates/global-controller/src/services/mod.rs
  docs/decisions/adr-0020-user-auth-meeting-access.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/auth-controller.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/code-reviewer.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/main.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/security.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/test.md
  docs/dev-loop-outputs/2026-01-15-gc-meeting-api/global-controller.md
  docs/dev-loop-outputs/2026-01-15-gc-meeting-api/main.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/integration.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  migrations/20260115000001_add_meeting_settings.sql
  scripts/workflow/verify-dev-loop.sh
Due: Authentication Controller, Middleware, Data Models

Add specialist knowledge audit workflow and first audit results
  .claude/workflows/specialist-knowledge-audit.md
  docs/specialist-knowledge/audits/2026-01-16-initial-audit.md
Due: none

Shrink development-loop.md from 1037 to 790 lines
  .claude/workflows/development-loop.md
Due: none

Implement GC Phase 1 foundation and ADR-0018 checkpointing
  .claude/agents/code-reviewer/gotchas.md
  .claude/agents/code-reviewer/integration.md
  .claude/agents/code-reviewer/patterns.md
  .claude/agents/global-controller/gotchas.md
  .claude/agents/global-controller/integration.md
  .claude/agents/global-controller/patterns.md
  .claude/agents/security/gotchas.md
  .claude/agents/security/integration.md
  .claude/agents/security/patterns.md
  .claude/agents/test/gotchas.md
  .claude/agents/test/integration.md
  .claude/agents/test/patterns.md
  Cargo.toml
  crates/gc-test-utils/Cargo.toml
  crates/gc-test-utils/src/lib.rs
  crates/gc-test-utils/src/server_harness.rs
  crates/global-controller/Cargo.toml
  crates/global-controller/src/config.rs
  crates/global-controller/src/errors.rs
  crates/global-controller/src/handlers/health.rs
  crates/global-controller/src/handlers/mod.rs
  crates/global-controller/src/lib.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/models/mod.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/tests/health_tests.rs
  docs/decisions/adr-0018-dev-loop-checkpointing.md
  docs/dev-loop-outputs/2026-01-13-gc-phase1-foundation.md
Due: Data Models

Add user auth integration tests and test registration guard
  .claude/workflows/development-loop.md
  .claude/workflows/development-loop/step-reflection.md
  crates/ac-service/tests/README.md
  crates/ac-service/tests/fault_injection/mod.rs
  crates/ac-service/tests/integration/mod.rs
  crates/ac-service/tests/integration/user_auth_tests.rs
  crates/ac-service/tests/integration_tests.rs
  crates/ac-test-utils/src/server_harness.rs
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/auth-controller.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/code-reviewer.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/main.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/security.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/test.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/patterns.md
  scripts/guards/simple/test-registration.sh
Due: none

Fix dev-loop workflow issues and add test wrapper script
  .claude/workflows/code-review.md
  .claude/workflows/development-loop/step-validation.md
  scripts/test.sh
  scripts/workflow/verify-dev-loop.sh
Due: none

Unify TECH_DEBT severity for non-blocking code review findings
  .claude/agents/code-reviewer.md
  .claude/agents/dry-reviewer.md
  .claude/workflows/code-review.md
  .claude/workflows/development-loop.md
  crates/global-controller/src/handlers/me.rs
  docs/LOCAL_DEVELOPMENT.md
  docs/decisions/adr-0019-dry-reviewer.md
  docs/dev-loop-outputs/2026-01-14-gc-phase2-auth-middleware.md
  docs/dev-loop-outputs/_template.md
Due: none

Update dev-loop to use claude --print for specialist invocation
  .claude/workflows/code-review.md
  .claude/workflows/development-loop/session-restore.md
  .claude/workflows/development-loop/specialist-invocation.md
  .claude/workflows/development-loop/step-implementation.md
  crates/ac-service/src/handlers/internal_tokens.rs
Due: Authentication Controller

Simplify dev-loop: User as orchestrator, Task tool for specialists
  .claude/workflows/development-loop.md
  .claude/workflows/development-loop/session-restore.md
  .claude/workflows/development-loop/specialist-invocation.md
  .claude/workflows/development-loop/step-implementation.md
  AI_DEVELOPMENT.md
  scripts/guards/simple/no-allow-attributes.sh
Due: none

Clean up obsolete scripts and convert lint to guard
  .github/workflows/ci.yml
  docs/process-reviews/prr-0001-ac-dashboard-metrics.md
  infra/kind/scripts/iterate.sh
  scripts/README.md
  scripts/dev/README.md
  scripts/dev/reset-database.sh
  scripts/dev/seed-test-data.sh
  scripts/dev/start-local-stack.sh
  scripts/guards/simple/grafana-datasources.sh
  scripts/lint-grafana-dashboards.sh
Due: none

Implement MC registration via gRPC with guard infrastructure improvements
  Cargo.toml
  crates/global-controller/Cargo.toml
  crates/global-controller/src/config.rs
  crates/global-controller/src/grpc/auth_layer.rs
  crates/global-controller/src/grpc/mc_service.rs
  crates/global-controller/src/grpc/mod.rs
  crates/global-controller/src/lib.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/repositories/meeting_controllers.rs
  crates/global-controller/src/repositories/mod.rs
  crates/global-controller/src/tasks/health_checker.rs
  crates/global-controller/src/tasks/mod.rs
  crates/global-controller/tests/mc_repository_tests.rs
  crates/proto-gen/Cargo.toml
  crates/proto-gen/build.rs
  crates/proto-gen/src/lib.rs
  docs/dev-loop-outputs/2026-01-20-mc-registration/database.md
  docs/dev-loop-outputs/2026-01-20-mc-registration/global-controller.md
  docs/dev-loop-outputs/2026-01-20-mc-registration/main.md
  docs/dev-loop-outputs/2026-01-20-mc-registration/protocol.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  migrations/20260120000001_mc_registration_schema.sql
  proto/internal.proto
  scripts/guards/common.sh
  scripts/guards/run-guards.sh
  scripts/guards/simple/no-allow-attributes.sh
  scripts/guards/simple/no-test-removal.sh
  scripts/guards/simple/test-coverage.sh
Due: none

Fix CI failures: increase timeout and add coverage tests
  .github/workflows/ci.yml
  crates/global-controller/src/grpc/auth_layer.rs
  crates/global-controller/src/tasks/health_checker.rs
Due: none

Fix flaky timing attack test by comparing minimum times
  crates/ac-service/src/services/token_service.rs
Due: Authentication Controller

Path conditions:
  Cryptography: any of: **/crypto/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Authentication Controller: any of: crates/ac-service/src/handlers/**, crates/ac-service/src/services/**, crates/ac-service/src/repositories/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Middleware: any of: **/middleware/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Data Models: any of: **/models/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
