Repository nbuckles13/dark_tower: changes, and which Codecov flags are due for each by the changed paths.
All: Cryptography, Authentication Controller, Middleware, Data Models

Fix CI failures: increase timeout and add coverage tests
  .github/workflows/ci.yml
  crates/global-controller/src/grpc/auth_layer.rs
  crates/global-controller/src/tasks/health_checker.rs
Due: none

Fix flaky timing attack test by comparing minimum times
  crates/ac-service/src/services/token_service.rs
Due: Authentication Controller

Add dev-loop slash command skills
  .claude/skills/dev-loop-complete/SKILL.md
  .claude/skills/dev-loop-fix/SKILL.md
  .claude/skills/dev-loop-implement/SKILL.md
  .claude/skills/dev-loop-init/SKILL.md
  .claude/skills/dev-loop-reflect/SKILL.md
  .claude/skills/dev-loop-restore/SKILL.md
  .claude/skills/dev-loop-review/SKILL.md
  .claude/skills/dev-loop-status/SKILL.md
  .claude/skills/dev-loop-validate/SKILL.md
  .claude/skills/dev-loop/SKILL.md
Due: none

Implement MC assignment via load balancing per ADR-0010
  .claude/skills/dev-loop-validate/SKILL.md
  crates/global-controller/src/config.rs
  crates/global-controller/src/handlers/meetings.rs
  crates/global-controller/src/models/mod.rs
  crates/global-controller/src/repositories/meeting_assignments.rs
  crates/global-controller/src/repositories/mod.rs
  crates/global-controller/src/services/mc_assignment.rs
  crates/global-controller/src/services/mod.rs
  crates/global-controller/tests/meeting_assignment_tests.rs
  crates/global-controller/tests/meeting_tests.rs
  docs/dev-loop-outputs/2026-01-21-gc-meeting-assignment/code-reviewer.md
  docs/dev-loop-outputs/2026-01-21-gc-meeting-assignment/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-21-gc-meeting-assignment/global-controller.md
  docs/dev-loop-outputs/2026-01-21-gc-meeting-assignment/main.md
  docs/dev-loop-outputs/2026-01-21-gc-meeting-assignment/security.md
  docs/dev-loop-outputs/2026-01-21-gc-meeting-assignment/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
  migrations/20260121000001_meeting_assignments.sql
  scripts/guards/run-guards.sh
Due: Data Models

Implement GC assignment cleanup per ADR-0010 Section 3
  crates/global-controller/src/grpc/mc_service.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/repositories/meeting_assignments.rs
  crates/global-controller/src/services/mc_assignment.rs
  crates/global-controller/src/tasks/assignment_cleanup.rs
  crates/global-controller/src/tasks/mod.rs
  crates/global-controller/tests/meeting_assignment_tests.rs
  docs/dev-loop-outputs/2026-01-22-gc-assignment-cleanup/code-reviewer.md
  docs/dev-loop-outputs/2026-01-22-gc-assignment-cleanup/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-22-gc-assignment-cleanup/global-controller.md
  docs/dev-loop-outputs/2026-01-22-gc-assignment-cleanup/main.md
  docs/dev-loop-outputs/2026-01-22-gc-assignment-cleanup/security.md
  docs/dev-loop-outputs/2026-01-22-gc-assignment-cleanup/test.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  proto/internal.proto
Due: none

Migrate dev-loop from workflow docs to skills (ADR-0022)
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/TODO.md
  .claude/agents/dry-reviewer.md
  .claude/skills/dev-loop-fix/SKILL.md
  .claude/skills/dev-loop-implement/SKILL.md
  .claude/skills/dev-loop-init/SKILL.md
  .claude/skills/dev-loop-plan/SKILL.md
  .claude/skills/dev-loop-review/SKILL.md
  .claude/skills/dev-loop-status/SKILL.md
  .claude/skills/dev-loop-validate/SKILL.md
  .claude/skills/dev-loop/SKILL.md
  .claude/workflows/code-review.md
  .claude/workflows/development-loop.md
  .claude/workflows/development-loop/output-documentation.md
  .claude/workflows/development-loop/session-restore.md
  .claude/workflows/development-loop/specialist-invocation.md
  .claude/workflows/development-loop/step-implementation.md
  .claude/workflows/development-loop/step-reflection.md
  .claude/workflows/development-loop/step-validation.md
  .claude/workflows/specialist-knowledge-audit.md
  .github/workflows/ci.yml
  AI_DEVELOPMENT.md
  CLAUDE.md
  docs/PROJECT_STATUS.md
  docs/decisions/adr-0010-global-controller-architecture.md
  docs/decisions/adr-0016-development-loop.md
  docs/decisions/adr-0018-dev-loop-checkpointing.md
  docs/decisions/adr-0022-skill-based-dev-loop.md
  docs/decisions/adr-template.md
  docs/dev-loop-outputs/_template/main.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  scripts/workflow/verify-dev-loop.sh
Due: none

Add ADR-0023 Meeting Controller Architecture with review feedback
  .claude/TODO.md
  docs/debates/2026-01-23-meeting-controller-architecture.md
  docs/decisions/adr-0010-global-controller-architecture.md
  docs/decisions/adr-0023-meeting-controller-architecture.md
Due: none

Implement ADR-0010 Section 4a GC-side: MH registry, MC assignment RPC
  crates/global-controller/Cargo.toml
  crates/global-controller/src/grpc/mh_service.rs
  crates/global-controller/src/grpc/mod.rs
  crates/global-controller/src/repositories/media_handlers.rs
  crates/global-controller/src/repositories/mod.rs
  crates/global-controller/src/services/mc_assignment.rs
  crates/global-controller/src/services/mc_client.rs
  crates/global-controller/src/services/mh_selection.rs
  crates/global-controller/src/services/mod.rs
  crates/global-controller/src/tasks/mh_health_checker.rs
  crates/global-controller/src/tasks/mod.rs
  crates/global-controller/tests/mc_assignment_rpc_tests.rs
  crates/global-controller/tests/mh_registry_tests.rs
  docs/decisions/adr-0010-global-controller-architecture.md
  docs/dev-loop-outputs/2026-01-24-adr-0010-section-4a-gc-side/code-reviewer.md
  docs/dev-loop-outputs/2026-01-24-adr-0010-section-4a-gc-side/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-24-adr-0010-section-4a-gc-side/global-controller.md
  docs/dev-loop-outputs/2026-01-24-adr-0010-section-4a-gc-side/main.md
  docs/dev-loop-outputs/2026-01-24-adr-0010-section-4a-gc-side/mc-reviewer.md
  docs/dev-loop-outputs/2026-01-24-adr-0010-section-4a-gc-side/planning-notes.md
  docs/dev-loop-outputs/2026-01-24-adr-0010-section-4a-gc-side/security.md
  docs/dev-loop-outputs/2026-01-24-adr-0010-section-4a-gc-side/test.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
  migrations/20260124000001_mh_registry.sql
  proto/internal.proto
Due: none

Add comprehensive implementation status to ADR-0023
  docs/decisions/adr-0023-meeting-controller-architecture.md
Due: none

Implement ADR-0023 Phase 6a: MC foundation (protos, crate skeletons, test utils)
  Cargo.toml
  crates/mc-test-utils/Cargo.toml
  crates/mc-test-utils/src/fixtures/mod.rs
  crates/mc-test-utils/src/lib.rs
  crates/mc-test-utils/src/mock_gc.rs
  crates/mc-test-utils/src/mock_mh.rs
  crates/mc-test-utils/src/mock_redis.rs
  crates/meeting-controller/Cargo.toml
  crates/meeting-controller/src/config.rs
  crates/meeting-controller/src/errors.rs
  crates/meeting-controller/src/lib.rs
  crates/meeting-controller/src/main.rs
  crates/proto-gen/src/lib.rs
  docs/decisions/adr-0023-meeting-controller-architecture.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6a-mc-foundation/code-reviewer.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6a-mc-foundation/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6a-mc-foundation/main.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6a-mc-foundation/meeting-controller.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6a-mc-foundation/security.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6a-mc-foundation/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/meeting-controller/gotchas.md
  docs/specialist-knowledge/meeting-controller/integration.md
  docs/specialist-knowledge/meeting-controller/patterns.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
  proto/signaling.proto
Due: none

ADR-0023 Phase 6b: Actor hierarchy for Meeting Controller
  .claude/skills/dev-loop-fix/SKILL.md
  .claude/skills/dev-loop-implement/SKILL.md
  .claude/skills/dev-loop-plan/SKILL.md
  .claude/skills/dev-loop-reflect/SKILL.md
  .claude/skills/dev-loop-review/SKILL.md
  Cargo.toml
  crates/meeting-controller/Cargo.toml
  crates/meeting-controller/src/actors/connection.rs
  crates/meeting-controller/src/actors/controller.rs
  crates/meeting-controller/src/actors/meeting.rs
  crates/meeting-controller/src/actors/messages.rs
  crates/meeting-controller/src/actors/metrics.rs
  crates/meeting-controller/src/actors/mod.rs
  crates/meeting-controller/src/actors/session.rs
  crates/meeting-controller/src/lib.rs
  docs/decisions/adr-0023-meeting-controller-architecture.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6b-actors/code-reviewer.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6b-actors/dry-reviewer-iteration-3.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6b-actors/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6b-actors/main.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6b-actors/meeting-controller.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6b-actors/security-iteration3.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6b-actors/security.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6b-actors/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/meeting-controller/gotchas.md
  docs/specialist-knowledge/meeting-controller/integration.md
  docs/specialist-knowledge/meeting-controller/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

ADR-0023 Phase 6c: GC Integration for Meeting Controller
  crates/meeting-controller/src/config.rs
  crates/meeting-controller/src/errors.rs
  crates/meeting-controller/src/grpc/auth_interceptor.rs
  crates/meeting-controller/src/grpc/gc_client.rs
  crates/meeting-controller/src/grpc/mc_service.rs
  crates/meeting-controller/src/grpc/mod.rs
  crates/meeting-controller/src/lib.rs
  crates/meeting-controller/src/redis/client.rs
  crates/meeting-controller/src/redis/lua_scripts.rs
  crates/meeting-controller/src/redis/mod.rs
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6c-gc-integration/code-reviewer.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6c-gc-integration/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6c-gc-integration/main.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6c-gc-integration/meeting-controller.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6c-gc-integration/security.md
  docs/dev-loop-outputs/2026-01-25-adr-0023-phase-6c-gc-integration/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/meeting-controller/gotchas.md
  docs/specialist-knowledge/meeting-controller/integration.md
  docs/specialist-knowledge/meeting-controller/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

MC cleanup: remove legacy proto methods and fix connection patterns
  crates/meeting-controller/src/config.rs
  crates/meeting-controller/src/grpc/gc_client.rs
  crates/meeting-controller/src/grpc/mc_service.rs
  crates/meeting-controller/src/redis/client.rs
  docs/dev-loop-outputs/2026-01-29-mc-cleanup-connection-patterns/code-reviewer.md
  docs/dev-loop-outputs/2026-01-29-mc-cleanup-connection-patterns/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-29-mc-cleanup-connection-patterns/main.md
  docs/dev-loop-outputs/2026-01-29-mc-cleanup-connection-patterns/meeting-controller.md
  docs/dev-loop-outputs/2026-01-29-mc-cleanup-connection-patterns/security.md
  docs/dev-loop-outputs/2026-01-29-mc-cleanup-connection-patterns/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/meeting-controller/gotchas.md
  docs/specialist-knowledge/meeting-controller/integration.md
  docs/specialist-knowledge/meeting-controller/patterns.md
  docs/specialist-knowledge/test/integration.md
  proto/internal.proto
Due: none

docs: replace hard-coded paths with generic placeholders
  .claude/skills/dev-loop-init/SKILL.md
  docs/BUILD_REQUIREMENTS.md
  docs/observability/metrics/ac-service.md
  docs/runbooks/ac-service-deployment.md
Due: none

Add guards for code quality issues
  scripts/guards/get-non-test-diff.sh
  scripts/guards/run-guards.sh
  scripts/guards/run-semantic-guards.sh
  scripts/guards/semantic/analyze-diff.sh
  scripts/guards/simple/instrument-skip-all.sh
  scripts/guards/simple/no-error-hiding.sh
Due: none

Fix code quality issues in meeting-controller
  .claude/skills/dev-loop-implement/SKILL.md
  .claude/skills/dev-loop-init/SKILL.md
  crates/meeting-controller/src/actors/connection.rs
  crates/meeting-controller/src/actors/controller.rs
  crates/meeting-controller/src/actors/meeting.rs
  crates/meeting-controller/src/actors/session.rs
  crates/meeting-controller/src/errors.rs
  crates/meeting-controller/src/grpc/gc_client.rs
  crates/meeting-controller/src/grpc/mc_service.rs
  crates/meeting-controller/src/redis/client.rs
  docs/dev-loop-outputs/2026-01-27-mc-code-quality-guards/code-reviewer.md
  docs/dev-loop-outputs/2026-01-27-mc-code-quality-guards/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-27-mc-code-quality-guards/main.md
  docs/dev-loop-outputs/2026-01-27-mc-code-quality-guards/meeting-controller.md
  docs/dev-loop-outputs/2026-01-27-mc-code-quality-guards/security.md
  docs/dev-loop-outputs/2026-01-27-mc-code-quality-guards/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/meeting-controller/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Fix AC code quality violations: error hiding + guard improvement
  .claude/skills/dev-loop-reflect/SKILL.md
  .claude/skills/dev-loop-status/SKILL.md
  crates/ac-service/src/config.rs
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/handlers/internal_tokens.rs
  docs/dev-loop-outputs/2026-01-28-ac-code-quality-guards/auth-controller.md
  docs/dev-loop-outputs/2026-01-28-ac-code-quality-guards/code-reviewer.md
  docs/dev-loop-outputs/2026-01-28-ac-code-quality-guards/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-28-ac-code-quality-guards/main.md
  docs/dev-loop-outputs/2026-01-28-ac-code-quality-guards/security.md
  docs/dev-loop-outputs/2026-01-28-ac-code-quality-guards/test.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/patterns.md
  scripts/guards/simple/instrument-skip-all.sh
  scripts/workflow/dev-loop-status.sh
Due: Cryptography, Authentication Controller

Fix code quality issues in global-controller
  crates/global-controller/src/auth/jwks.rs
  crates/global-controller/src/auth/jwt.rs
  crates/global-controller/src/config.rs
  crates/global-controller/src/errors.rs
  crates/global-controller/src/grpc/mc_service.rs
  crates/global-controller/src/handlers/meetings.rs
  crates/global-controller/src/middleware/auth.rs
  crates/global-controller/src/services/ac_client.rs
  crates/global-controller/src/services/mc_assignment.rs
  crates/global-controller/src/services/mc_client.rs
  crates/global-controller/src/services/mh_selection.rs
  docs/dev-loop-outputs/2026-01-28-gc-code-quality-guards/code-reviewer.md
  docs/dev-loop-outputs/2026-01-28-gc-code-quality-guards/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-28-gc-code-quality-guards/global-controller.md
  docs/dev-loop-outputs/2026-01-28-gc-code-quality-guards/main.md
  docs/dev-loop-outputs/2026-01-28-gc-code-quality-guards/security.md
  docs/dev-loop-outputs/2026-01-28-gc-code-quality-guards/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/patterns.md
Due: Middleware

Fix env-tests error hiding violations + DRY reviewer knowledge bootstrap
  .claude/skills/dev-loop-init/SKILL.md
  crates/env-tests/src/cluster.rs
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/code-reviewer.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/main.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/reflection.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/security.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/test.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
Due: none

Add git worktree support for parallel dev-loops
  .claude/skills/worktree-setup/SKILL.md
  scripts/guards/run-guards.sh
Due: none

Standardize dev-loop skills to use status script for active loop detection
  .claude/skills/dev-loop-complete/SKILL.md
  .claude/skills/dev-loop-fix/SKILL.md
  .claude/skills/dev-loop-implement/SKILL.md
  .claude/skills/dev-loop-plan/SKILL.md
  .claude/skills/dev-loop-reflect/SKILL.md
  .claude/skills/dev-loop-restore/SKILL.md
  .claude/skills/dev-loop-review/SKILL.md
  .claude/skills/dev-loop-validate/SKILL.md
Due: none

Fix AC error-context-preservation violations (26 fixes)
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/handlers/internal_tokens.rs
  docs/dev-loop-outputs/2026-01-30-fix-ac-error-context-preservation-violations-26/code-reviewer.md
  docs/dev-loop-outputs/2026-01-30-fix-ac-error-context-preservation-violations-26/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-30-fix-ac-error-context-preservation-violations-26/main.md
  docs/dev-loop-outputs/2026-01-30-fix-ac-error-context-preservation-violations-26/security.md
  docs/dev-loop-outputs/2026-01-30-fix-ac-error-context-preservation-violations-26/test.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/patterns.md
  scripts/guards/semantic/analyze-diff.sh
Due: Cryptography, Authentication Controller

Path conditions:
  Cryptography: any of: **/crypto/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Authentication Controller: any of: crates/ac-service/src/handlers/**, crates/ac-service/src/services/**, crates/ac-service/src/repositories/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Middleware: any of: **/middleware/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Data Models: any of: **/models/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
