Repository nbuckles13/dark_tower: changes, and which Codecov flags are due for each by the changed paths.
All: Cryptography, Authentication Controller, Middleware, Data Models

.codecov.yml:

# Codecov configuration for Dark Tower
#
# Coverage thresholds per ADR-0005:
# - Crypto modules: 100%
# - Handlers/Services/Repositories: 95%
# - Middleware: 90%
# - Overall: 90%+

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 95%
        threshold: 2%

  range: 70..100

comment:
  layout: "header, diff, components, files, footer"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    # Crypto modules - 100% required
    - component_id: crypto
      name: Cryptography
      paths:
        - "**/crypto/**"
      flag_regexes:
        - crypto
      statuses:
        - type: project
          target: 100%
          threshold: 0%

    # Auth Controller - 95% required
    - component_id: auth-controller
      name: Authentication Controller
      paths:
        - "crates/ac-service/src/handlers/**"
        - "crates/ac-service/src/services/**"
        - "crates/ac-service/src/repositories/**"
      statuses:
        - type: project
          target: 95%
          threshold: 1%

    # Middleware - 90% required
    - component_id: middleware
      name: Middleware
      paths:
        - "**/middleware/**"
      statuses:
        - type: project
          target: 90%
          threshold: 2%

    # Models - 85% required
    - component_id: models
      name: Data Models
      paths:
        - "**/models/**"
      statuses:
        - type: project
          target: 85%
          threshold: 3%

ignore:
  - "crates/proto-gen/**"  # Generated code
  - "**/benches/**"        # Benchmark code
  - "**/examples/**"       # Example code
  - "**/.claude/**"        # Agent configurations

docs: add ADR-0006 fuzz testing strategy
  docs/FUZZING.md
  docs/FUZZ_THIS_CHECKLIST.md
  docs/decisions/adr-0005-addendum-fuzz-testing.md
  docs/decisions/adr-0006-fuzz-testing-strategy.md
Due: none

feat: implement fuzz testing infrastructure (ADR-0006)
  .github/workflows/ci.yml
  .github/workflows/fuzz-nightly.yml
  Cargo.toml
  crates/ac-service/fuzz/Cargo.toml
  crates/ac-service/fuzz/fuzz_targets/jwt_validation.rs
  crates/ac-service/fuzz/fuzz_targets/signaling_messages.rs
  crates/media-protocol/fuzz/Cargo.toml
  crates/media-protocol/fuzz/fuzz_targets/codec_decode.rs
  crates/media-protocol/fuzz/fuzz_targets/codec_roundtrip.rs
Due: none

refactor: Replace #[allow] with #[expect] for better lint hygiene
  crates/ac-service/src/config.rs
  crates/ac-service/src/models/mod.rs
  crates/ac-service/src/repositories/auth_events.rs
  crates/ac-service/src/repositories/service_credentials.rs
  crates/ac-service/src/repositories/signing_keys.rs
  crates/ac-service/src/services/key_management_service.rs
  crates/ac-service/src/services/registration_service.rs
  crates/ac-service/src/services/token_service.rs
  crates/media-protocol/src/codec.rs
  docs/decisions/adr-0002-no-panic-policy.md
Due: Authentication Controller, Data Models

Fix fuzz nightly job workspace configuration
  .gitignore
  Cargo.toml
  crates/ac-service/fuzz/Cargo.toml
  crates/media-protocol/fuzz/Cargo.toml
Due: none

Fix clippy issues, timing test flakiness, and update CI
  .claude/TODO.md
  .github/workflows/ci.yml
  crates/ac-service/src/config.rs
  crates/ac-service/src/models/mod.rs
  crates/ac-service/src/repositories/auth_events.rs
  crates/ac-service/src/repositories/service_credentials.rs
  crates/ac-service/src/repositories/signing_keys.rs
  crates/ac-service/src/services/key_management_service.rs
  crates/ac-service/src/services/registration_service.rs
  crates/ac-service/src/services/token_service.rs
Due: Authentication Controller, Data Models

Add automated git hooks for code quality
  .githooks/README.md
  .githooks/install.sh
  .githooks/pre-commit
  README.md
Due: none

fix: configure Podman registry URLs and sqlx::test migrations path
  crates/ac-service/src/repositories/service_credentials.rs
  docker-compose.test.yml
Due: Authentication Controller

feat: implement comprehensive signing_keys repository tests
  crates/ac-service/src/repositories/signing_keys.rs
Due: Authentication Controller

feat: implement TokenAssertions trait for JWT validation in tests
  crates/ac-test-utils/src/assertions.rs
Due: none

Phase 4: Implement comprehensive P0 security and repository tests
  crates/ac-service/src/repositories/auth_events.rs
  crates/ac-service/src/repositories/signing_keys.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-test-utils/src/assertions.rs
Due: Authentication Controller

feat: add lib target and repository tests for ac-service
  .gitignore
  crates/ac-service/Cargo.toml
  crates/ac-service/src/lib.rs
  crates/ac-service/src/repositories/service_credentials.rs
  docs/LOCAL_TESTING_SETUP.md
Due: Authentication Controller

Remove fuzz job from PR builds and skip timing test under coverage
  .github/workflows/ci.yml
  crates/ac-service/Cargo.toml
  crates/ac-service/src/services/token_service.rs
Due: Authentication Controller

Add P1 security tests for JWT validation and SQL injection prevention
  crates/ac-service/src/services/registration_service.rs
  crates/ac-service/src/services/token_service.rs
Due: Authentication Controller

Document P1 security test improvements for future PRs
  .claude/TODO.md
Due: none

Complete P1 security test improvements and documentation refresh
  .claude/TODO.md
  CLAUDE.md
  README.md
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/services/registration_service.rs
  crates/ac-service/src/services/token_service.rs
  docs/PROJECT_STATUS.md
Due: Cryptography, Authentication Controller

Add orchestrator pre-flight checklist and clarify test ownership
  .claude/agents/auth-controller.md
  .claude/agents/global-controller.md
  .claude/agents/media-handler.md
  .claude/agents/meeting-controller.md
  .claude/agents/test.md
  CLAUDE.md
Due: none

Implement JWT iat validation with clock skew tolerance
  .claude/TODO.md
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/services/token_service.rs
Due: Cryptography, Authentication Controller

Fix nightly fuzz timeout exceeding GitHub Actions limit
  .github/workflows/fuzz-nightly.yml
Due: none

Add GitHub CLI (gh) to optional development tools
  docs/DEVELOPMENT.md
Due: none
