Repository nbuckles13/dark_tower: changes, and which Codecov flags are due for each by the changed paths.
All: Cryptography, Authentication Controller, Middleware, Data Models

Fix env-tests error hiding violations + DRY reviewer knowledge bootstrap
  .claude/skills/dev-loop-init/SKILL.md
  crates/env-tests/src/cluster.rs
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/code-reviewer.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/main.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/reflection.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/security.md
  docs/dev-loop-outputs/2026-01-29-fix-env-tests-error-hiding-violations-2-vio/test.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
Due: none

Standardize dev-loop skills to use status script for active loop detection
  .claude/skills/dev-loop-complete/SKILL.md
  .claude/skills/dev-loop-fix/SKILL.md
  .claude/skills/dev-loop-implement/SKILL.md
  .claude/skills/dev-loop-plan/SKILL.md
  .claude/skills/dev-loop-reflect/SKILL.md
  .claude/skills/dev-loop-restore/SKILL.md
  .claude/skills/dev-loop-review/SKILL.md
  .claude/skills/dev-loop-validate/SKILL.md
Due: none

Implement ADR-0023 Phase 6c: MC-GC integration wiring
  crates/ac-service/src/handlers/auth_handler.rs
  crates/meeting-controller/Cargo.toml
  crates/meeting-controller/src/actors/metrics.rs
  crates/meeting-controller/src/actors/mod.rs
  crates/meeting-controller/src/config.rs
  crates/meeting-controller/src/grpc/gc_client.rs
  crates/meeting-controller/src/lib.rs
  crates/meeting-controller/src/main.rs
  crates/meeting-controller/src/system_info.rs
  crates/meeting-controller/tests/gc_integration.rs
  crates/meeting-controller/tests/heartbeat_tasks.rs
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/code-reviewer.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/main.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/meeting-controller.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/security.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/test.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/meeting-controller/gotchas.md
  docs/specialist-knowledge/meeting-controller/integration.md
  docs/specialist-knowledge/meeting-controller/patterns.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/integration.md
  scripts/guards/run-guards.sh
  scripts/guards/semantic/analyze-diff.sh
  scripts/guards/simple/no-error-hiding.sh
Due: Authentication Controller

Implement ADR-0023 Phase 6c: MC-GC integration with resilience
  crates/meeting-controller/src/actors/metrics.rs
  crates/meeting-controller/src/actors/mod.rs
  crates/meeting-controller/src/errors.rs
  crates/meeting-controller/src/grpc/gc_client.rs
  crates/meeting-controller/src/main.rs
  crates/meeting-controller/tests/gc_integration.rs
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/code-reviewer.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/main.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/meeting-controller.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/security.md
  docs/dev-loop-outputs/2026-01-30-adr-0023-phase-6c-wire-mc-gc-integration-regist/test.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/meeting-controller/gotchas.md
  docs/specialist-knowledge/meeting-controller/integration.md
  docs/specialist-knowledge/meeting-controller/patterns.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

TD-1/TD-2: Extract JWT utilities to common crate
  Cargo.toml
  crates/ac-service/src/config.rs
  crates/ac-service/src/crypto/mod.rs
  crates/common/Cargo.toml
  crates/common/src/jwt.rs
  crates/common/src/lib.rs
  crates/global-controller/src/auth/jwt.rs
  crates/global-controller/src/config.rs
  crates/meeting-controller/src/grpc/auth_interceptor.rs
  docs/dev-loop-outputs/2026-01-30-td1-td2-jwt-common-extraction/main.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/test/gotchas.md
Due: Cryptography

Address PR feedback for TD-1/TD-2 JWT consolidation
  crates/ac-service/src/config.rs
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/main.rs
  crates/ac-service/src/middleware/auth.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-service/tests/integration/clock_skew_tests.rs
  crates/ac-service/tests/integration/key_rotation_tests.rs
  crates/ac-test-utils/src/server_harness.rs
  crates/common/src/jwt.rs
  crates/global-controller/src/auth/jwt.rs
  crates/global-controller/src/config.rs
  docs/dev-loop-outputs/2026-01-30-td1-td2-jwt-common-extraction/main.md
Due: Cryptography, Authentication Controller, Middleware

Implement env-tests for MC-GC integration (ADR-0010 Phase 4a)
  crates/env-tests/src/fixtures/gc_client.rs
  crates/env-tests/tests/22_mc_gc_integration.rs
  docs/dev-loop-outputs/2026-01-31-mc-gc-integration-env-tests/code-reviewer.md
  docs/dev-loop-outputs/2026-01-31-mc-gc-integration-env-tests/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-31-mc-gc-integration-env-tests/main.md
  docs/dev-loop-outputs/2026-01-31-mc-gc-integration-env-tests/security.md
  docs/dev-loop-outputs/2026-01-31-mc-gc-integration-env-tests/test.md
  docs/specialist-knowledge/test/patterns.md
Due: none

ADR-0010 Phase 4a: Wire MH/MC components into Global Controller
  .claude/TODO.md
  crates/gc-test-utils/src/server_harness.rs
  crates/global-controller/src/grpc/mh_service.rs
  crates/global-controller/src/grpc/mod.rs
  crates/global-controller/src/handlers/meetings.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/src/services/mc_assignment.rs
  crates/global-controller/src/services/mc_client.rs
  crates/global-controller/src/services/mh_selection.rs
  crates/global-controller/src/services/mod.rs
  crates/global-controller/src/tasks/mh_health_checker.rs
  crates/global-controller/src/tasks/mod.rs
  crates/global-controller/tests/auth_tests.rs
  crates/global-controller/tests/mc_assignment_rpc_tests.rs
  crates/global-controller/tests/meeting_assignment_tests.rs
  crates/global-controller/tests/meeting_tests.rs
  docs/decisions/adr-0010-global-controller-architecture.md
  docs/decisions/adr-0023-meeting-controller-architecture.md
  docs/dev-loop-outputs/2026-01-31-adr-0010-phase-4a-wire-mh-mc/code-quality.md
  docs/dev-loop-outputs/2026-01-31-adr-0010-phase-4a-wire-mh-mc/dry.md
  docs/dev-loop-outputs/2026-01-31-adr-0010-phase-4a-wire-mh-mc/global-controller.md
  docs/dev-loop-outputs/2026-01-31-adr-0010-phase-4a-wire-mh-mc/main.md
  docs/dev-loop-outputs/2026-01-31-adr-0010-phase-4a-wire-mh-mc/security.md
  docs/dev-loop-outputs/2026-01-31-adr-0010-phase-4a-wire-mh-mc/test.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
Due: none

Fix timing race condition in JWT clock skew boundary tests
  crates/ac-service/src/services/token_service.rs
Due: Authentication Controller

Deploy GC and MC to local Kind cluster
  docs/dev-loop-outputs/2026-01-31-gc-mc-kind-deployment/main.md
  docs/specialist-knowledge/infrastructure/gotchas.md
  infra/docker/global-controller/Dockerfile
  infra/docker/meeting-controller/Dockerfile
  infra/services/global-controller/configmap.yaml
  infra/services/global-controller/deployment.yaml
  infra/services/global-controller/network-policy.yaml
  infra/services/global-controller/pdb.yaml
  infra/services/global-controller/secret.yaml
  infra/services/global-controller/service-monitor.yaml
  infra/services/global-controller/service.yaml
  infra/services/meeting-controller/configmap.yaml
  infra/services/meeting-controller/deployment.yaml
  infra/services/meeting-controller/network-policy.yaml
  infra/services/meeting-controller/pdb.yaml
  infra/services/meeting-controller/secret.yaml
  infra/services/meeting-controller/service-monitor.yaml
  infra/services/meeting-controller/service.yaml
  infra/services/redis/configmap.yaml
  infra/services/redis/network-policy.yaml
  infra/services/redis/secret.yaml
  infra/services/redis/service.yaml
  infra/services/redis/statefulset.yaml
  infra/skaffold.yaml
Due: none

Deploy GC and MC to local Kind cluster with observability
  crates/ac-service/tests/integration/clock_skew_tests.rs
  crates/gc-test-utils/src/server_harness.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/tests/auth_tests.rs
  crates/global-controller/tests/health_tests.rs
  crates/global-controller/tests/meeting_tests.rs
  infra/docker/ac-service/Dockerfile
  infra/docker/global-controller/Dockerfile
  infra/docker/meeting-controller/Dockerfile
  infra/kind/scripts/setup.sh
  infra/services/global-controller/deployment.yaml
  infra/services/global-controller/secret.yaml
  infra/services/meeting-controller/deployment.yaml
  infra/services/meeting-controller/secret.yaml
  infra/services/redis/secret.yaml
  scripts/guards/simple/api-version-check.sh
Due: none

Integrate TokenManager into Meeting Controller (ADR-0023 Phase 6c)
  crates/common/Cargo.toml
  crates/common/src/token_manager.rs
  crates/meeting-controller/Cargo.toml
  crates/meeting-controller/src/config.rs
  crates/meeting-controller/src/errors.rs
  crates/meeting-controller/src/grpc/gc_client.rs
  crates/meeting-controller/src/main.rs
  crates/meeting-controller/tests/gc_integration.rs
  docs/decisions/adr-0023-meeting-controller-architecture.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/code-reviewer-iteration2.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/code-reviewer.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/dry-reviewer-iteration2.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/dry-reviewer.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/main.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/meeting-controller.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/security-iteration2.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/security.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/test-iteration2.md
  docs/dev-loop-outputs/2026-02-02-integrate-tokenmanager-into-meeting-controller-mc/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/meeting-controller/gotchas.md
  docs/specialist-knowledge/meeting-controller/integration.md
  docs/specialist-knowledge/meeting-controller/patterns.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Implement shared TokenManager for OAuth 2.0 client credentials flow
  crates/common/Cargo.toml
  crates/common/src/lib.rs
  crates/common/src/token_manager.rs
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/auth-controller.md
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/code-reviewer-final.md
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/code-reviewer.md
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/dry-reviewer-final.md
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/dry-reviewer.md
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/main.md
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/security-final.md
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/security.md
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/test-final.md
  docs/dev-loop-outputs/2026-02-01-shared-tokenmanager-oauth-flow/test.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/integration.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Add start time tracking to dev-loop template
  .claude/skills/dev-loop-complete/SKILL.md
  .claude/skills/dev-loop-init/SKILL.md
Due: none

Integrate TokenManager into Global Controller for dynamic OAuth tokens
  .claude/skills/dev-loop-complete/SKILL.md
  crates/common/src/token_manager.rs
  crates/gc-test-utils/src/server_harness.rs
  crates/global-controller/src/config.rs
  crates/global-controller/src/handlers/meetings.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/src/services/ac_client.rs
  crates/global-controller/src/services/mc_client.rs
  crates/global-controller/tests/auth_tests.rs
  crates/global-controller/tests/meeting_tests.rs
  docs/decisions/adr-0010-global-controller-architecture.md
  docs/dev-loop-outputs/2026-02-02-gc-tokenmanager-integration/code-reviewer.md
  docs/dev-loop-outputs/2026-02-02-gc-tokenmanager-integration/dry-reviewer.md
  docs/dev-loop-outputs/2026-02-02-gc-tokenmanager-integration/global-controller.md
  docs/dev-loop-outputs/2026-02-02-gc-tokenmanager-integration/main.md
  docs/dev-loop-outputs/2026-02-02-gc-tokenmanager-integration/security.md
  docs/dev-loop-outputs/2026-02-02-gc-tokenmanager-integration/test.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  scripts/workflow/verify-dev-loop.sh
Due: none

Update infrastructure for GC/MC OAuth 2.0 client credentials
  crates/common/src/token_manager.rs
  crates/global-controller/src/main.rs
  crates/meeting-controller/src/main.rs
  docs/dev-loop-outputs/2026-02-02-update-infra-gc-mc-oauth-credentials/infrastructure.md
  docs/dev-loop-outputs/2026-02-02-update-infra-gc-mc-oauth-credentials/main.md
  infra/kind/scripts/setup.sh
  infra/services/ac-service/network-policy.yaml
  infra/services/global-controller/deployment.yaml
  infra/services/global-controller/secret.yaml
  infra/services/meeting-controller/deployment.yaml
  infra/services/meeting-controller/network-policy.yaml
  infra/services/meeting-controller/secret.yaml
  scripts/test-oauth-integration.sh
Due: none

Add comprehensive test coverage for TokenManager OAuth flows
  crates/common/src/token_manager.rs
Due: none

Implement GC metrics endpoint and K8s health checks (ADR-0011, ADR-0012)
  crates/gc-test-utils/Cargo.toml
  crates/gc-test-utils/src/server_harness.rs
  crates/global-controller/Cargo.toml
  crates/global-controller/src/handlers/health.rs
  crates/global-controller/src/handlers/me.rs
  crates/global-controller/src/handlers/meetings.rs
  crates/global-controller/src/handlers/metrics.rs
  crates/global-controller/src/handlers/mod.rs
  crates/global-controller/src/lib.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/middleware/http_metrics.rs
  crates/global-controller/src/middleware/mod.rs
  crates/global-controller/src/models/mod.rs
  crates/global-controller/src/observability/metrics.rs
  crates/global-controller/src/observability/mod.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/tests/auth_tests.rs
  crates/global-controller/tests/meeting_tests.rs
  docs/decisions/adr-0012-infrastructure-architecture.md
  docs/dev-loop-outputs/2026-02-02-update-infra-gc-mc-oauth-credentials/main.md
  docs/dev-loop-outputs/2026-02-04-implement-gc-metrics-endpoint-and-core-application/code-reviewer.md
  docs/dev-loop-outputs/2026-02-04-implement-gc-metrics-endpoint-and-core-application/dry-reviewer.md
  docs/dev-loop-outputs/2026-02-04-implement-gc-metrics-endpoint-and-core-application/global-controller.md
  docs/dev-loop-outputs/2026-02-04-implement-gc-metrics-endpoint-and-core-application/main.md
  docs/dev-loop-outputs/2026-02-04-implement-gc-metrics-endpoint-and-core-application/security.md
  docs/dev-loop-outputs/2026-02-04-implement-gc-metrics-endpoint-and-core-application/test.md
  docs/observability/metrics/gc.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/patterns.md
  infra/services/global-controller/deployment.yaml
Due: Middleware, Data Models

Implement GC observability per ADR-0011
  crates/gc-test-utils/src/server_harness.rs
  crates/global-controller/tests/auth_tests.rs
  crates/global-controller/tests/health_tests.rs
  docs/decisions/adr-0011-observability-framework.md
  docs/dev-loop-outputs/2026-02-05-gc-observability-dashboards-alarms-runbooks/code-reviewer.md
  docs/dev-loop-outputs/2026-02-05-gc-observability-dashboards-alarms-runbooks/dry-reviewer.md
  docs/dev-loop-outputs/2026-02-05-gc-observability-dashboards-alarms-runbooks/main.md
  docs/dev-loop-outputs/2026-02-05-gc-observability-dashboards-alarms-runbooks/observability.md
  docs/dev-loop-outputs/2026-02-05-gc-observability-dashboards-alarms-runbooks/security.md
  docs/dev-loop-outputs/2026-02-05-gc-observability-dashboards-alarms-runbooks/test.md
  docs/observability/alerts.md
  docs/observability/dashboards.md
  docs/observability/runbooks.md
  docs/runbooks/TEMPLATE.md
  docs/runbooks/gc-deployment.md
  docs/runbooks/gc-incident-response.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/observability/gotchas.md
  docs/specialist-knowledge/observability/integration.md
  docs/specialist-knowledge/observability/patterns.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  infra/docker/prometheus/rules/gc-alerts.yaml
  infra/grafana/dashboards/gc-overview.json
  infra/grafana/dashboards/gc-slos.json
  scripts/guards/simple/grafana-datasources.sh
Due: none

Wire GC observability metrics for MC assignment, DB queries, and MH selection
  crates/global-controller/src/observability/metrics.rs
  crates/global-controller/src/repositories/media_handlers.rs
  crates/global-controller/src/repositories/meeting_assignments.rs
  crates/global-controller/src/repositories/meeting_controllers.rs
  crates/global-controller/src/services/mc_assignment.rs
  crates/global-controller/src/services/mh_selection.rs
  docs/dev-loop-outputs/2026-02-09-wire-gc-observability-metrics/code-quality.md
  docs/dev-loop-outputs/2026-02-09-wire-gc-observability-metrics/dry.md
  docs/dev-loop-outputs/2026-02-09-wire-gc-observability-metrics/global-controller.md
  docs/dev-loop-outputs/2026-02-09-wire-gc-observability-metrics/main.md
  docs/dev-loop-outputs/2026-02-09-wire-gc-observability-metrics/security.md
  docs/dev-loop-outputs/2026-02-09-wire-gc-observability-metrics/test.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
Due: none

Add Prometheus metrics to Meeting Controller (ADR-0011, ADR-0023)
  crates/meeting-controller/Cargo.toml
  crates/meeting-controller/src/lib.rs
  crates/meeting-controller/src/main.rs
  crates/meeting-controller/src/observability/health.rs
  crates/meeting-controller/src/observability/metrics.rs
  crates/meeting-controller/src/observability/mod.rs
  crates/meeting-controller/src/redis/client.rs
  docs/dev-loop-outputs/2026-02-04-mc-metrics-implementation/code-reviewer.md
  docs/dev-loop-outputs/2026-02-04-mc-metrics-implementation/dry-reviewer.md
  docs/dev-loop-outputs/2026-02-04-mc-metrics-implementation/main.md
  docs/dev-loop-outputs/2026-02-04-mc-metrics-implementation/meeting-controller.md
  docs/dev-loop-outputs/2026-02-04-mc-metrics-implementation/security.md
  docs/dev-loop-outputs/2026-02-04-mc-metrics-implementation/test.md
  docs/specialist-knowledge/meeting-controller/gotchas.md
  docs/specialist-knowledge/meeting-controller/integration.md
  docs/specialist-knowledge/meeting-controller/patterns.md
Due: none

Wire MC internal metrics to Prometheus and fix participant tracking
  crates/meeting-controller/src/actors/controller.rs
  crates/meeting-controller/src/actors/meeting.rs
  crates/meeting-controller/src/actors/metrics.rs
  crates/meeting-controller/src/main.rs
  crates/meeting-controller/tests/gc_integration.rs
  docs/dev-loop-outputs/2026-02-05-wire-mc-internal-metrics-to-prometheus/code-reviewer.md
  docs/dev-loop-outputs/2026-02-05-wire-mc-internal-metrics-to-prometheus/dry-reviewer.md
  docs/dev-loop-outputs/2026-02-05-wire-mc-internal-metrics-to-prometheus/main.md
  docs/dev-loop-outputs/2026-02-05-wire-mc-internal-metrics-to-prometheus/meeting-controller.md
  docs/dev-loop-outputs/2026-02-05-wire-mc-internal-metrics-to-prometheus/security.md
  docs/dev-loop-outputs/2026-02-05-wire-mc-internal-metrics-to-prometheus/test.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/meeting-controller/gotchas.md
  docs/specialist-knowledge/meeting-controller/integration.md
  docs/specialist-knowledge/meeting-controller/patterns.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Create MC observability dashboards, alarms, and runbooks per ADR-0011
  docs/decisions/README.md
  docs/dev-loop-outputs/2026-02-09-mc-observability-dashboards-alarms-runbooks/code-reviewer.md
  docs/dev-loop-outputs/2026-02-09-mc-observability-dashboards-alarms-runbooks/dry-reviewer.md
  docs/dev-loop-outputs/2026-02-09-mc-observability-dashboards-alarms-runbooks/main.md
  docs/dev-loop-outputs/2026-02-09-mc-observability-dashboards-alarms-runbooks/operations.md
  docs/dev-loop-outputs/2026-02-09-mc-observability-dashboards-alarms-runbooks/security.md
  docs/dev-loop-outputs/2026-02-09-mc-observability-dashboards-alarms-runbooks/test.md
  docs/runbooks/mc-deployment.md
  docs/runbooks/mc-incident-response.md
  docs/specialist-knowledge/operations/gotchas.md
  docs/specialist-knowledge/operations/integration.md
  docs/specialist-knowledge/operations/patterns.md
  infra/docker/prometheus/rules/mc-alerts.yaml
  infra/grafana/dashboards/mc-overview.json
Due: none

Path conditions:
  Cryptography: any of: **/crypto/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Authentication Controller: any of: crates/ac-service/src/handlers/**, crates/ac-service/src/services/**, crates/ac-service/src/repositories/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Middleware: any of: **/middleware/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
  Data Models: any of: **/models/**, but not: crates/proto-gen/**, **/benches/**, **/examples/**, **/.claude/**
