Repository nbuckles13/dark_tower: changes, and which Codecov flags are due for each by the changed paths.
All: Cryptography, Authentication Controller, Middleware, Data Models

.codecov.yml:

# Codecov configuration for Dark Tower
#
# Coverage thresholds per ADR-0005:
# - Crypto modules: 100%
# - Handlers/Services/Repositories: 95%
# - Middleware: 90%
# - Overall: 90%+

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 95%
        threshold: 2%

  range: 70..100

comment:
  layout: "header, diff, components, files, footer"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    # Crypto modules - 100% required
    - component_id: crypto
      name: Cryptography
      paths:
        - "**/crypto/**"
      flag_regexes:
        - crypto
      statuses:
        - type: project
          target: 100%
          threshold: 0%

    # Auth Controller - 95% required
    - component_id: auth-controller
      name: Authentication Controller
      paths:
        - "crates/ac-service/src/handlers/**"
        - "crates/ac-service/src/services/**"
        - "crates/ac-service/src/repositories/**"
      statuses:
        - type: project
          target: 95%
          threshold: 1%

    # Middleware - 90% required
    - component_id: middleware
      name: Middleware
      paths:
        - "**/middleware/**"
      statuses:
        - type: project
          target: 90%
          threshold: 2%

    # Models - 85% required
    - component_id: models
      name: Data Models
      paths:
        - "**/models/**"
      statuses:
        - type: project
          target: 85%
          threshold: 3%

ignore:
  - "crates/proto-gen/**"  # Generated code
  - "**/benches/**"        # Benchmark code
  - "**/examples/**"       # Example code
  - "**/.claude/**"        # Agent configurations

Update project documentation for January 2026 changes
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/TODO.md
  CLAUDE.md
  README.md
  docs/PROJECT_STATUS.md
Due: none

Add development loop workflow with guard integration
  .claude/workflows/contextual-injection.md
  .claude/workflows/development-loop.md
  docs/decisions/adr-0016-development-loop.md
  scripts/verify-completion.sh
Due: none

Add configurable bcrypt cost and tracing safety for crypto functions
  .claude/agents/auth-controller/gotchas.md
  .claude/agents/auth-controller/integration.md
  .claude/agents/auth-controller/patterns.md
  .claude/agents/code-reviewer/gotchas.md
  .claude/agents/code-reviewer/integration.md
  .claude/agents/code-reviewer/patterns.md
  .claude/agents/security/gotchas.md
  .claude/agents/security/integration.md
  .claude/agents/security/patterns.md
  .claude/agents/test/gotchas.md
  .claude/agents/test/integration.md
  .claude/agents/test/patterns.md
  crates/ac-service/src/config.rs
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/registration_service.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-service/tests/integration/key_rotation_tests.rs
  crates/ac-test-utils/src/server_harness.rs
Due: Cryptography, Authentication Controller

Add contextual injection workflow and fix code review issues
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/workflows/code-review.md
  .claude/workflows/contextual-injection.md
  .claude/workflows/orchestrator-guide.md
  crates/ac-service/src/errors.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/observability/metrics.rs
  crates/ac-service/src/observability/mod.rs
  crates/ac-service/src/repositories/service_credentials.rs
  crates/ac-service/src/routes/mod.rs
  docs/principles/crypto.md
  docs/principles/errors.md
  docs/principles/input.md
  docs/principles/jwt.md
  docs/principles/logging-safety.md
  docs/principles/logging.md
  docs/principles/no-hardcoded-secrets.md
  docs/principles/queries.md
Due: Authentication Controller

Add link to AI_DEVELOPMENT.md in README overview
  README.md
Due: none

Update dev-loop: specialist-owned verification, resume for reflection
  .claude/workflows/development-loop.md
  docs/dev-loop-outputs/_template.md
  scripts/guards/semantic/credential-leak.sh
Due: none

Integrate code review into development loop
  .claude/workflows/development-loop.md
  docs/decisions/adr-0016-development-loop.md
Due: none

Add 4 new principle files from ADR extraction
  docs/principles/api-design.md
  docs/principles/concurrency.md
  docs/principles/observability.md
  docs/principles/testing.md
Due: none

Add SecretString constraint type and enhance guard pipeline
  Cargo.toml
  crates/ac-service/src/handlers/auth_handler.rs
  crates/common/Cargo.toml
  crates/common/src/lib.rs
  crates/common/src/secret.rs
  docs/principles/logging-safety.md
  docs/reviews/trust-but-verify-audit/01-security-cross-review.md
  docs/reviews/trust-but-verify-audit/01-security-self-audit.md
  scripts/guards/simple/no-secrets-in-logs.sh
Due: Authentication Controller

Compress principle files for specialist prompt injection
  docs/principles/crypto.md
  docs/principles/errors.md
  docs/principles/input.md
  docs/principles/jwt.md
  docs/principles/logging.md
  docs/principles/queries.md
Due: none

Add test protection guards and update ADR-0015
  .claude/TODO.md
  docs/decisions/adr-0015-principles-guards-methodology.md
  scripts/guards/simple/no-test-removal.sh
  scripts/guards/simple/test-coverage.sh
Due: none

Increase CI job timeouts to fix cancelled builds
  .github/workflows/ci.yml
Due: none

Add specialist self-improvement via dynamic knowledge
  .claude/agents/auth-controller.md
  .claude/agents/code-reviewer.md
  .claude/agents/database.md
  .claude/agents/global-controller.md
  .claude/agents/infrastructure.md
  .claude/agents/media-handler.md
  .claude/agents/meeting-controller.md
  .claude/agents/observability.md
  .claude/agents/operations.md
  .claude/agents/protocol.md
  .claude/agents/security.md
  .claude/agents/test.md
  .claude/workflows/code-review.md
  .claude/workflows/development-loop.md
  .claude/workflows/multi-agent-debate.md
  docs/decisions/adr-0017-specialist-knowledge.md
Due: none

Add ADR-0015: Principles and Guards Methodology
  docs/decisions/adr-0015-principles-guards-methodology.md
Due: none

Improve dev-loop workflow with implementation mode and state checkpointing
  .claude/workflows/development-loop.md
  docs/dev-loop-outputs/_template.md
Due: none

Add configurable JWT clock skew tolerance
  crates/ac-service/src/config.rs
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/main.rs
  crates/ac-service/src/middleware/auth.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-service/tests/integration/clock_skew_tests.rs
  crates/ac-service/tests/integration/key_rotation_tests.rs
  crates/ac-service/tests/integration/mod.rs
  crates/ac-test-utils/src/server_harness.rs
Due: Cryptography, Authentication Controller, Middleware

Add env-tests security enhancements for deployed service validation
  .claude/TODO.md
  crates/env-tests/Cargo.toml
  crates/env-tests/src/canary.rs
  crates/env-tests/tests/10_auth_smoke.rs
  crates/env-tests/tests/25_auth_security.rs
  crates/env-tests/tests/40_resilience.rs
  docs/dev-loop-outputs/2026-01-13-env-tests-security.md
Due: none

Update LOCAL_DEVELOPMENT.md with env-tests and fix StatefulSet
  docs/LOCAL_DEVELOPMENT.md
Due: none

Complete dev-loop reflection and add orchestrator checklist
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/agents/code-reviewer/gotchas.md
  .claude/agents/code-reviewer/patterns.md
  .claude/agents/infrastructure/gotchas.md
  .claude/agents/infrastructure/integration.md
  .claude/agents/infrastructure/patterns.md
  .claude/agents/security/gotchas.md
  .claude/agents/security/patterns.md
  .claude/agents/test/gotchas.md
  .claude/agents/test/integration.md
  .claude/agents/test/patterns.md
  .claude/workflows/development-loop.md
  docs/dev-loop-outputs/2026-01-13-env-tests-security.md
  docs/dev-loop-outputs/_template.md
Due: none

Exclude env-tests from code coverage
  .codecov.yml
Due: none

Implement GC Phase 1 foundation and ADR-0018 checkpointing
  .claude/agents/code-reviewer/gotchas.md
  .claude/agents/code-reviewer/integration.md
  .claude/agents/code-reviewer/patterns.md
  .claude/agents/global-controller/gotchas.md
  .claude/agents/global-controller/integration.md
  .claude/agents/global-controller/patterns.md
  .claude/agents/security/gotchas.md
  .claude/agents/security/integration.md
  .claude/agents/security/patterns.md
  .claude/agents/test/gotchas.md
  .claude/agents/test/integration.md
  .claude/agents/test/patterns.md
  Cargo.toml
  crates/gc-test-utils/Cargo.toml
  crates/gc-test-utils/src/lib.rs
  crates/gc-test-utils/src/server_harness.rs
  crates/global-controller/Cargo.toml
  crates/global-controller/src/config.rs
  crates/global-controller/src/errors.rs
  crates/global-controller/src/handlers/health.rs
  crates/global-controller/src/handlers/mod.rs
  crates/global-controller/src/lib.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/models/mod.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/tests/health_tests.rs
  docs/decisions/adr-0018-dev-loop-checkpointing.md
  docs/dev-loop-outputs/2026-01-13-gc-phase1-foundation.md
Due: Data Models

Move specialist knowledge files to docs/specialist-knowledge/
  .claude/TODO.md
  .claude/agents/auth-controller.md
  .claude/agents/code-reviewer.md
  .claude/agents/database.md
  .claude/agents/global-controller.md
  .claude/agents/infrastructure.md
  .claude/agents/media-handler.md
  .claude/agents/meeting-controller.md
  .claude/agents/observability.md
  .claude/agents/operations.md
  .claude/agents/protocol.md
  .claude/agents/security.md
  .claude/agents/test.md
  .claude/workflows/code-review.md
  .claude/workflows/development-loop.md
  .claude/workflows/multi-agent-debate.md
  AI_DEVELOPMENT.md
  CLAUDE.md
  docs/PROJECT_STATUS.md
  docs/decisions/adr-0017-specialist-knowledge.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/integration.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/infrastructure/gotchas.md
  docs/specialist-knowledge/infrastructure/integration.md
  docs/specialist-knowledge/infrastructure/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Clarify verification requirement after code review fixes
  .claude/workflows/development-loop.md
Due: none

Implement GC Phase 2 auth middleware and add DRY Reviewer specialist
  .claude/agents/dry-reviewer.md
  .claude/workflows/code-review.md
  .claude/workflows/development-loop.md
  AI_DEVELOPMENT.md
  CLAUDE.md
  crates/global-controller/Cargo.toml
  crates/global-controller/src/auth/claims.rs
  crates/global-controller/src/auth/jwks.rs
  crates/global-controller/src/auth/jwt.rs
  crates/global-controller/src/auth/mod.rs
  crates/global-controller/src/handlers/me.rs
  crates/global-controller/src/handlers/mod.rs
  crates/global-controller/src/lib.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/middleware/auth.rs
  crates/global-controller/src/middleware/mod.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/tests/auth_tests.rs
  docs/decisions/adr-0019-dry-reviewer.md
  docs/dev-loop-outputs/2026-01-14-gc-phase2-auth-middleware.md
  docs/dev-loop-outputs/_template.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: Middleware

Unify TECH_DEBT severity for non-blocking code review findings
  .claude/agents/code-reviewer.md
  .claude/agents/dry-reviewer.md
  .claude/workflows/code-review.md
  .claude/workflows/development-loop.md
  crates/global-controller/src/handlers/me.rs
  docs/LOCAL_DEVELOPMENT.md
  docs/decisions/adr-0019-dry-reviewer.md
  docs/dev-loop-outputs/2026-01-14-gc-phase2-auth-middleware.md
  docs/dev-loop-outputs/_template.md
Due: none

Remove redundant Next Steps section from dev-loop output template
  docs/dev-loop-outputs/2026-01-14-gc-phase2-auth-middleware.md
  docs/dev-loop-outputs/_template.md
Due: none

Implement ADR-0018: Dev-loop checkpointing and restore
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/workflows/development-loop.md
  docs/decisions/adr-0018-dev-loop-checkpointing.md
  docs/dev-loop-outputs/_template/main.md
  docs/dev-loop-outputs/_template/specialist.md
Due: none

Shrink development-loop.md from 1037 to 790 lines
  .claude/workflows/development-loop.md
Due: none

Implement user auth foundation and restructure dev-loop workflow
  .claude/workflows/development-loop.md
  .claude/workflows/development-loop/output-documentation.md
  .claude/workflows/development-loop/session-restore.md
  .claude/workflows/development-loop/step-implementation.md
  .claude/workflows/development-loop/step-reflection.md
  .claude/workflows/development-loop/step-validation.md
  crates/ac-service/src/handlers/internal_tokens.rs
  crates/ac-service/src/handlers/mod.rs
  crates/ac-service/src/middleware/auth.rs
  crates/ac-service/src/models/mod.rs
  crates/ac-service/src/routes/mod.rs
  crates/global-controller/Cargo.toml
  crates/global-controller/src/config.rs
  crates/global-controller/src/handlers/meetings.rs
  crates/global-controller/src/handlers/mod.rs
  crates/global-controller/src/lib.rs
  crates/global-controller/src/main.rs
  crates/global-controller/src/models/mod.rs
  crates/global-controller/src/routes/mod.rs
  crates/global-controller/src/services/ac_client.rs
  crates/global-controller/src/services/mod.rs
  docs/decisions/adr-0020-user-auth-meeting-access.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/auth-controller.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/code-reviewer.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/main.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/security.md
  docs/dev-loop-outputs/2026-01-15-ac-user-auth-meeting-tokens/test.md
  docs/dev-loop-outputs/2026-01-15-gc-meeting-api/global-controller.md
  docs/dev-loop-outputs/2026-01-15-gc-meeting-api/main.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/integration.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  migrations/20260115000001_add_meeting_settings.sql
  scripts/workflow/verify-dev-loop.sh
Due: Authentication Controller, Middleware, Data Models

Implement user provisioning and login in AC per ADR-0020
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/middleware/mod.rs
  crates/ac-service/src/middleware/org_extraction.rs
  crates/ac-service/src/repositories/auth_events.rs
  crates/ac-service/src/repositories/mod.rs
  crates/ac-service/src/repositories/organizations.rs
  crates/ac-service/src/repositories/users.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/mod.rs
  crates/ac-service/src/services/token_service.rs
  crates/ac-service/src/services/user_service.rs
  migrations/20260116000001_add_user_roles.sql
Due: Cryptography, Authentication Controller, Middleware

Update specialist knowledge files from user provisioning dev-loop
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/integration.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Add dev-loop output for user provisioning implementation
  docs/dev-loop-outputs/2026-01-15-user-provisioning/auth-controller.md
  docs/dev-loop-outputs/2026-01-15-user-provisioning/main.md
Due: none

Fix dev-loop workflow issues and add test wrapper script
  .claude/workflows/code-review.md
  .claude/workflows/development-loop/step-validation.md
  scripts/test.sh
  scripts/workflow/verify-dev-loop.sh
Due: none

Add user auth integration tests and test registration guard
  .claude/workflows/development-loop.md
  .claude/workflows/development-loop/step-reflection.md
  crates/ac-service/tests/README.md
  crates/ac-service/tests/fault_injection/mod.rs
  crates/ac-service/tests/integration/mod.rs
  crates/ac-service/tests/integration/user_auth_tests.rs
  crates/ac-service/tests/integration_tests.rs
  crates/ac-test-utils/src/server_harness.rs
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/auth-controller.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/code-reviewer.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/dry-reviewer.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/main.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/security.md
  docs/dev-loop-outputs/2026-01-15-user-auth-integration-tests/test.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/patterns.md
  scripts/guards/simple/test-registration.sh
Due: none

Add knowledge curation criteria and audit specialist files
  .claude/workflows/development-loop/step-reflection.md
  docs/specialist-knowledge/auth-controller/gotchas.md
  docs/specialist-knowledge/auth-controller/integration.md
  docs/specialist-knowledge/auth-controller/patterns.md
  docs/specialist-knowledge/code-reviewer/gotchas.md
  docs/specialist-knowledge/code-reviewer/integration.md
  docs/specialist-knowledge/code-reviewer/patterns.md
  docs/specialist-knowledge/dry-reviewer/gotchas.md
  docs/specialist-knowledge/dry-reviewer/integration.md
  docs/specialist-knowledge/dry-reviewer/patterns.md
  docs/specialist-knowledge/global-controller/gotchas.md
  docs/specialist-knowledge/global-controller/integration.md
  docs/specialist-knowledge/global-controller/patterns.md
  docs/specialist-knowledge/infrastructure/gotchas.md
  docs/specialist-knowledge/infrastructure/integration.md
  docs/specialist-knowledge/infrastructure/patterns.md
  docs/specialist-knowledge/security/gotchas.md
  docs/specialist-knowledge/security/integration.md
  docs/specialist-knowledge/security/patterns.md
  docs/specialist-knowledge/test/gotchas.md
  docs/specialist-knowledge/test/integration.md
  docs/specialist-knowledge/test/patterns.md
Due: none

Add specialist knowledge audit workflow and first audit results
  .claude/workflows/specialist-knowledge-audit.md
  docs/specialist-knowledge/audits/2026-01-16-initial-audit.md
Due: none
