Repository nbuckles13/dark_tower: changes, and which Codecov flags are due for each by the changed paths.
All: Cryptography, Authentication Controller, Middleware, Data Models

.codecov.yml:

# Codecov configuration for Dark Tower
#
# Coverage thresholds per ADR-0005:
# - Crypto modules: 100%
# - Handlers/Services/Repositories: 95%
# - Middleware: 90%
# - Overall: 90%+

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 95%
        threshold: 2%

  range: 70..100

comment:
  layout: "header, diff, components, files, footer"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    # Crypto modules - 100% required
    - component_id: crypto
      name: Cryptography
      paths:
        - "**/crypto/**"
      flag_regexes:
        - crypto
      statuses:
        - type: project
          target: 100%
          threshold: 0%

    # Auth Controller - 95% required
    - component_id: auth-controller
      name: Authentication Controller
      paths:
        - "crates/ac-service/src/handlers/**"
        - "crates/ac-service/src/services/**"
        - "crates/ac-service/src/repositories/**"
      statuses:
        - type: project
          target: 95%
          threshold: 1%

    # Middleware - 90% required
    - component_id: middleware
      name: Middleware
      paths:
        - "**/middleware/**"
      statuses:
        - type: project
          target: 90%
          threshold: 2%

    # Models - 85% required
    - component_id: models
      name: Data Models
      paths:
        - "**/models/**"
      statuses:
        - type: project
          target: 85%
          threshold: 3%

ignore:
  - "crates/proto-gen/**"  # Generated code
  - "**/benches/**"        # Benchmark code
  - "**/examples/**"       # Example code
  - "**/.claude/**"        # Agent configurations

Add JWT header injection tests for algorithm confusion and kid injection attacks
  .claude/TODO.md
  crates/ac-service/src/services/token_service.rs
  docs/PROJECT_STATUS.md
Due: Authentication Controller

Add ADR-0007 token lifetime strategy from multi-agent debate
  .claude/TODO.md
  docs/debates/2025-12-01-token-age-and-refresh.md
  docs/decisions/adr-0007-token-lifetime-strategy.md
Due: none

Fix flaky time-based SQL injection test for CI
  crates/ac-service/src/services/registration_service.rs
Due: Authentication Controller

Add P2 security tests: JWT size limits and time-based SQL injection
  .claude/TODO.md
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/services/registration_service.rs
  crates/ac-service/src/services/token_service.rs
  docs/PROJECT_STATUS.md
Due: Cryptography, Authentication Controller

Improve ac-service test coverage from 61% to 86%
  crates/ac-service/Cargo.toml
  crates/ac-service/src/config.rs
  crates/ac-service/src/errors.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/handlers/jwks_handler.rs
  crates/ac-service/src/services/key_management_service.rs
  crates/ac-service/src/services/registration_service.rs
Due: Authentication Controller

Add GitGuardian config to ignore test credential fixtures
  .gitguardian.yaml
Due: none

Improve ac-service test coverage from 76% to 90%
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/handlers/auth_handler.rs
Due: Cryptography, Authentication Controller

Implement key rotation endpoint per ADR-0008
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/errors.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/handlers/jwks_handler.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/key_management_service.rs
  crates/ac-service/src/services/token_service.rs
  docs/debates/2025-12-02-key-rotation-coordination.md
  docs/decisions/adr-0008-key-rotation-strategy.md
Due: Cryptography, Authentication Controller

Add integration test infrastructure and fix TOCTOU race condition
  .claude/TODO.md
  crates/ac-service/Cargo.toml
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/tests/integration/key_rotation_tests.rs
  crates/ac-service/tests/integration/mod.rs
  crates/ac-service/tests/integration_tests.rs
  crates/ac-test-utils/Cargo.toml
  crates/ac-test-utils/src/lib.rs
  crates/ac-test-utils/src/rotation_time.rs
  crates/ac-test-utils/src/server_harness.rs
  docs/PROJECT_STATUS.md
  docs/debates/2025-12-03-integration-test-infrastructure.md
  docs/decisions/adr-0009-integration-test-infrastructure.md
Due: Authentication Controller

Fix JWT verification to look up key by kid instead of active key
  crates/ac-service/src/crypto/mod.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/tests/integration/key_rotation_tests.rs
Due: Cryptography, Authentication Controller

Add ADR-0010 Global Controller architecture and refine related docs
  .claude/TODO.md
  docs/PROJECT_STATUS.md
  docs/decisions/adr-0004-api-versioning.md
  docs/decisions/adr-0010-global-controller-architecture.md
Due: none

Add operational specialists: Observability, Operations, Infrastructure
  .claude/DEVELOPMENT_WORKFLOW.md
  .claude/agents/infrastructure.md
  .claude/agents/observability.md
  .claude/agents/operations.md
  .claude/agents/test.md
  .claude/workflows/code-review.md
  .claude/workflows/multi-agent-debate.md
  CLAUDE.md
  docs/PROJECT_STATUS.md
Due: none

Add ADR-0012 infrastructure architecture from multi-agent debate
  docs/debates/2025-12-07-infrastructure-architecture.md
  docs/decisions/adr-0012-infrastructure-architecture.md
Due: none

Add ADR-0011 observability framework from multi-agent debate
  .claude/agents/observability.md
  .claude/agents/operations.md
  docs/decisions/adr-0011-observability-framework.md
Due: none

Strengthen specialist prompts and add AC operational readiness review
  .claude/agents/infrastructure.md
  .claude/agents/observability.md
  .claude/agents/security.md
  docs/reviews/2025-12-07-ac-service-operational-readiness.md
Due: none

Add AC operational readiness re-review debate and implementation plan
  docs/debates/2025-12-08-ac-operational-readiness-re-review.md
  docs/reviews/2025-12-07-ac-service-operational-readiness.md
Due: none

Implement AC operational readiness Phase 1+2 per ADR-0012
  crates/ac-service/Cargo.toml
  crates/ac-service/src/config.rs
  crates/ac-service/src/main.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/tests/integration/health_tests.rs
  crates/ac-service/tests/integration_tests.rs
  crates/ac-test-utils/Cargo.toml
  crates/ac-test-utils/src/server_harness.rs
  infra/docker/ac-service/Dockerfile
  infra/docker/ac-service/README.md
  infra/services/ac-service/configmap.yaml
  infra/services/ac-service/network-policy.yaml
  infra/services/ac-service/pdb.yaml
  infra/services/ac-service/service-monitor.yaml
  infra/services/ac-service/service.yaml
  infra/services/ac-service/statefulset.yaml
Due: none

Implement AC Phase 3 Observability per ADR-0011
  crates/ac-service/Cargo.toml
  crates/ac-service/src/errors.rs
  crates/ac-service/src/handlers/admin_handler.rs
  crates/ac-service/src/handlers/auth_handler.rs
  crates/ac-service/src/handlers/jwks_handler.rs
  crates/ac-service/src/lib.rs
  crates/ac-service/src/main.rs
  crates/ac-service/src/observability/metrics.rs
  crates/ac-service/src/observability/mod.rs
  crates/ac-service/src/routes/mod.rs
  crates/ac-service/src/services/token_service.rs
  docs/debates/2025-12-09-ac-phase3-observability.md
Due: Authentication Controller

Add unit tests for observability module (metrics.rs, routes/mod.rs)
  crates/ac-service/Cargo.toml
  crates/ac-service/src/lib.rs
  crates/ac-service/src/observability/metrics.rs
  crates/ac-service/src/routes/mod.rs
Due: none

Refactor server_harness to use real ac-service routes and middleware
  crates/ac-test-utils/Cargo.toml
  crates/ac-test-utils/src/server_harness.rs
Due: none
